/* Колір основного тексту #757575 */
/* Вторинний колір тексту #212121 */
/* акцент #2196F3 */
/* Білий колір #ffffff */
/* Вторинний колір фону #2F303A */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-wh-color: #ffffff;
  --secondary-bg-color: #2f303a;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  background-color: var(--primary-wh-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

button {
  cursor: pointer;
  display: inline-block;
}

img {
  display: block;
}

header {
  background-color: var(--primary-wh-color);
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

header a {
  padding-top: 35px;
  padding-bottom: 29px;
}

header .container {
  display: flex;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* Logo */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo span {
  color: var(--accent-color);
}

.page-header .logo {
  padding-top: 27px;
  padding-bottom: 22px;
  color: #000000;
}

.footer .logo {
  margin-bottom: 20px;
  color: var(--primary-wh-color);
}

/* Site nav */

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav > .list {
  display: flex;
  margin-left: 93px;
}

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.site-nav .list-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Header contacts */

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contacts a + a {
  margin-left: 50px;
}
.header-contacts a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contacts a:hover,
.header-contacts a:focus {
  color: var(--accent-color);
}

/* Footer */
/* Footer contacts */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}

.footer-section {
  width: 270px;
}

.footer-contacts {
  color: var(--primary-wh-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer-contacts a {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer-contacts a:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  color: var(--accent-color);
}
